# Проектная работа 1. Предобработка данных

# Исследование надёжности заёмщиков

**Цель:** Получить практичесские навыки в предобработке данных: обрабатывать пропущенные данные, работать с типами данных, выделять леммы, категоризировать данные.

**Описание Данных:**

Данные представляют собой таблицу со статистическиой информацией о платёжеспособности клиентов:

`children` — количество детей в семье

`days_employed` — общий трудовой стаж в днях

`dob_years` — возраст клиента в годах

`education` — уровень образования клиента

`education_id` — идентификатор уровня образования

`family_status` — семейное положение

`family_status_id` — идентификатор семейного положения

`gender` — пол клиента

`income_type` — тип занятости

`debt` — имел ли задолженность по возврату кредитов

`total_income` — ежемесячный доход

`purpose` — цель получения кредита

In [1]:
import pandas as pd
import os

## Откройте таблицу и изучите общую информацию о данных

**Задание 1. Импортируйте библиотеку pandas. Считайте данные из csv-файла в датафрейм и сохраните в переменную `data`. Путь к файлу:**

In [2]:
pth1 = 'C:/Users/copok/Documents/Проекты/2 Исследование надёжности заёмщиков/data.csv'
pth2 = '/datasets/data.csv'

if os.path.exists(pth1):
    df = pd.read_csv(pth1)
elif os.path.exists(pth2):
    df= pd.read_csv(pth2)
else:
    print('Something is wrong')

**Задание 2. Выведите первые 20 строчек датафрейма `data` на экран.**

In [3]:
df.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

**Задание 3. Выведите основную информацию о датафрейме с помощью метода `info()`.**

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

**Задание 4. Выведите количество пропущенных значений для каждого столбца. Используйте комбинацию двух методов.**

In [5]:
df.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

**Задание 5. В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце вы обработаете на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.**

In [6]:
for t in df['income_type'].unique():
    df.loc[(df['income_type'] == t) & (df['total_income'].isna()), 'total_income'] = \
    df.loc[(df['income_type'] == t), 'total_income'].median()
    
# или df['total_income'] = df['total_income'].fillna(df.groupby(['income_type'])['total_income'].transform('median'))

### Обработка аномальных значений

**Задание 6. В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. Таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Для реальных данных это нормально. Обработайте значения в этом столбце: замените все отрицательные значения положительными с помощью метода `abs()`.**

In [7]:
df['days_employed'] = df['days_employed'].abs()

**Задание 7. Для каждого типа занятости выведите медианное значение трудового стажа `days_employed` в днях.**

In [8]:
df.groupby('income_type')['days_employed'].median()
# или df.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть. 

Тем более этот столбец не понадобится вам для исследования.

**Задание 8. Выведите перечень уникальных значений столбца `children`.**

In [9]:
df['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5], dtype=int64)

**Задание 9. В столбце `children` есть два аномальных значения. Удалите строки, в которых встречаются такие аномальные значения из датафрейма `data`.**

In [10]:
df = df.drop(df[(df['children']==-1) | (df['children']==20)].index)

**Задание 10. Ещё раз выведите перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.**

In [11]:
df['children'].unique()

array([1, 0, 3, 2, 4, 5], dtype=int64)

### Удаление пропусков (продолжение)

**Задание 11. Заполните пропуски в столбце `days_employed` медианными значениями по каждому типу занятости `income_type`.**

In [12]:
for t in df['income_type'].unique():
    df.loc[(df['income_type'] == t) & (df['days_employed'].isna()), 'days_employed'] = \
    df.loc[(df['income_type'] == t), 'days_employed'].median()
    
# или df['days_employed'] = df['days_employed'].fillna(df.groupby(['income_type'])['days_employed'].transform('median'))

**Задание 12. Убедитесь, что все пропуски заполнены. Проверьте себя и ещё раз выведите количество пропущенных значений для каждого столбца с помощью двух методов.**

In [13]:
df.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

**Задание 13. Замените вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.**

In [14]:
df['total_income'] = df['total_income'].astype('int')

### Обработка дубликатов

**Задание 14. Обработайте неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведите их к нижнему регистру. Проверьте остальные столбцы.**

In [15]:
df['education'] = df['education'].str.lower()

**Задание 15. Выведите на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалите их.**

In [16]:
df.duplicated().sum() # посчитайте дубликаты

71

In [17]:
df = df.drop_duplicates() # удалите дубликаты

### Категоризация данных

**Задание 16. На основании диапазонов, указанных ниже, создайте в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.


**Например, кредитополучателю с доходом 25000 нужно назначить категорию `'E'`, а клиенту, получающему 235000, — `'B'`. Используйте собственную функцию с именем `categorize_income()` и метод `apply()`.**

In [18]:
def categorize_income(row):

    category = row['total_income']
    if category <= 30000:
        return 'E'
    elif category >= 30001 and category <= 50000:
        return 'D'
    elif category >= 50001 and category <= 200000:
        return 'C'
    elif category >= 200001 and category <= 1000000:
        return 'B'
    return 'A'# создайте функцию categorize_income()

In [19]:
df['total_income_category'] = df.apply(categorize_income, axis=1)# примените функцию методом apply()

**Задание 17. Выведите на экран перечень уникальных целей взятия кредита из столбца `purpose`.**

In [20]:
df['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

**Задание 18. Создайте функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**
​
- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.
​
**Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.**
​
**Используйте собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучите данные в столбце `purpose` и определите, какие подстроки помогут вам правильно определить категорию.**

In [21]:
def categorize_purpose(row):
    categori = row['purpose']
    if 'авто' in categori:
        return 'операции с автомобилем'
    elif (('недвиж' in categori) or ('жиль' in categori)):
        return 'операции с недвижимостью'
    elif 'свадьб' in categori:
        return 'проведение свадьбы'
    elif 'образов' in categori:
        return 'получение образования'
    else:
        return 'нет категории'

In [22]:
df['purpose_category'] = df.apply(categorize_purpose, axis=1)

### Шаг 3. Исследуйте данные и ответьте на вопросы

#### 3.1 Есть ли зависимость между количеством детей и возвратом кредита в срок?

In [23]:
children = df.pivot_table(index = ['children'], values='debt', aggfunc = ('mean', lambda X:  X.count()))

def percent(x):
    return "{0:.2%}".format(x)



children['mean'] = children['mean'].apply(percent)
children =children.rename(columns={"<lambda_0>": "Количество записей", "mean": "Среднее по задолжностям"})
children.sort_values(by='Количество записей', ascending=False)

          Количество записей Среднее по задолжностям
children
0                      14091                   7.54%
1                       4808                   9.23%
2                       2052                   9.45%
3                        330                   8.18%
4                         41                   9.76%
5                          9                   0.00%

**Вывод:** 
* При установлении зависимости я оценивал размер выборки. Я использовал только группы 0, 1 и 2.
* Есть прямая зависимость между количеством детей и возвратом кредита, чем больше у клиента детей тем больше вероятность что задолжность будет не выплачена.

Разница между минимальным и максимальным средним значением составляет **25,7%**.

#### 3.2 Есть ли зависимость между семейным положением и возвратом кредита в срок?

In [24]:
family = df.pivot_table(index = ['family_status'], values='debt', aggfunc = ('mean', lambda X:
                                                                       X.count()))

family['mean'] = family['mean'].apply(percent)
family= family.rename(columns={"<lambda_0>": "Количество записей", "mean": "Среднее по задолжностям"})
family.sort_values(by='Количество записей', ascending=False)

                       Количество записей Среднее по задолжностям
family_status
женат / замужем                     12261                   7.56%
гражданский брак                     4134                   9.31%
Не женат / не замужем                2796                   9.76%
в разводе                            1189                   7.06%
вдовец / вдова                        951                   6.62%

**Вывод:** 
* Зависимость от семейного положения такова что если клиенты состоят или состояли в офциальном браке то вероятность возврата кредита выше чем если клиенты холостые или состоят в гражданском браке.

Разница между минимальным значением **6,62** и максимальным **9,75** составляет **31,2%** процентов.

#### 3.3 Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

In [25]:
income = df.pivot_table(index = 'total_income_category', values='debt', aggfunc = ('mean', lambda X: X.count()))
 
income['mean'] = income['mean'].apply(percent)
income = income.rename(columns={"<lambda_0>": "Количество записей", "mean": "Среднее по задолжностям"})
income.sort_values(by='Количество записей', ascending=False)

                       Количество записей Среднее по задолжностям
total_income_category
C                                   15921                   8.50%
B                                    5014                   7.06%
D                                     349                   6.02%
A                                      25                   8.00%
E                                      22                   9.09%

**Вывод:** 
* Зависимость от дохода лучше смотреть по категориям С и В. 
* Из данных следует что клиенты с более низким доходом охотнее возращают кредиты(скорее всего что бы не портить кредитную историю т.к сокерее всего они в будущем будут пользоватся кредитами)

Разница между минимальным значением и максимальным составляет **21,1%** процентов.

#### 3.4 Как разные цели кредита влияют на его возврат в срок?

In [26]:
purpose = df.pivot_table(index = ['purpose_category'], values='debt', aggfunc = ('mean', lambda X: X.count()))
                                                                       

purpose['mean'] = purpose['mean'].apply(percent)
purpose = purpose.rename(columns={"<lambda_0>": "Количество записей", "mean": "Среднее по задолжностям"})
purpose.sort_values(by='Количество записей', ascending=False)

                          Количество записей Среднее по задолжностям
purpose_category
операции с недвижимостью               10751                   7.26%
операции с автомобилем                  4279                   9.35%
получение образования                   3988                   9.25%
проведение свадьбы                      2313                   7.91%

**Вывод:** 
* Луший показатель у клиентов с целью покупки недвижимости(оно и понятно люди каторые берут ипотеку более взешиноно подходят к кредиту т.к кредит залоговый и цена ошибки высока), и у клиентов у которых целть женится(тут можно посмотреть зависимость от семейного положения там как раз у людей семейных выше вероятность возврата кредита). 
* Хучшый показатель у клиентов покупающих авто(это может быть связано с тем что есть возможность потерять авто(дтп,угон) и у людей пропадает мотивация возвращать кредит), У клиентов которые тратят кредит на оброзование возможные проблемы с возвратом кредита скорее всего из-за того что они в большей массе люди молдые менне опотные в финансовых вопросах. 

Разница между минимальным значением и максимальным составляет **28,9%** процентов.

### Шаг 4: общий вывод.

Все категории имеют зависимость с выплатой кредита в срок.

* Семейное положение - **31,2%**
* Цели на кредит - **28,9%**
* Количество детей в семье - **25,7%**
* Уровень дохода -**21,1%**

* Во Первых больше всего на возрат кредита вияет Семейное положение(люди женатые более ответственные).
* Во вторых Цели на кредит (люди покупающие недвижимость и которые хотя вступить в брак с большей вероятностью вернут кредит)
* В третьих количество детей (у людей без детей больше возможностей)
* В четвертых уровень дохода 

**Ваш идеальный клиент это человек женатый без детей с доходм от 50000 до 1 000 000 покупающий недвижимость**